@charset "utf-8";

/**************************************
 * サイト全体の装飾
 **************************************/

body {
    /* 隙間 */
    margin: 0;
    padding: 0;
    /* サイト全体の色 */
    color: #333;
}

/**************************************
 * リンク
 **************************************/

a {
    /* サイト全体を通して共通となる文字色 */
    color: #b7a077;
}

/* 訪問済み */
a:visited {
    /* 文字色 */
    color: #a8a8a8;
}

/* マウスオーバー */
a:hover {
    /* 文字色 */
    color: #988564;
    /* 太字 */
    font-weight: bold;
    /* 下線を消す */
    text-decoration: none;
}

a:hover img {
    /* 半透明 */
    opacity: 0.7;
}

/**************************************
 * 見出し
 **************************************/

h1, h2, h3, h4, h5, h6 {
    /* 上マージン */
    margin-top: 0;
}

/* メインコンテンツ - 大見出し */
#main h1 {
    /* 背景画像 */
    background-image: url(../images/header_bg.jpg);
    /* 内側余白 */
    padding: 30px 30px 3-px 20px;
    /* 文字サイズ */
    font-size: 26px;
    /* 下線 */
    border-bottom: solid 1px #8b7348
}

/* メインコンテンツ - 中見出し */
#main h2 {
    /* 文字サイズ */
    font-size: 22px;
    /* 枠線 */
    border: 1px solid #b7a077;
    /* 内側余白 */
    padding: 11px 22px;
    /* 角丸 */
    border-radius: 5px;
}

/* メインコンテンツ - 小見出し */
#main h3 {
    /* 文字サイズ */
    font-size: 18px;
    /* 左線 */
    border-left: solid 3px #b7a077;
    /* 内側余白 */
    padding: 4px 9px 4px 14px;
}

/**************************************
 * 段落
 **************************************/

p {
    /* 上マージン */
    margin-top: 0;
    /* 行間 */
    line-height: 1.6;
}

/**************************************
 * 画像
 **************************************/

img {
    /* 縦位置調整 => 画像下にある余白を削除 */
    vertical-align: bottom;
}

