@charset "utf-8";

/**************************************
 * サイト全体の装飾
 **************************************/

body {
    /* 隙間 */
    margin: 0;
    padding: 0;
    /* サイト全体の色 */
    color: #333;
}

/**************************************
 * リンク
 **************************************/

a {
    /* サイト全体を通して共通となる文字色 */
    color: #b7a077;
}

/* 訪問済み */
a:visited {
    /* 文字色 */
    color: #a8a8a8;
}

/* マウスオーバー */
a:hover {
    /* 文字色 */
    color: #988564;
    /* 太字 */
    font-weight: bold;
    /* 下線を消す */
    text-decoration: none;
}

a:hover img {
    /* 半透明 */
    opacity: 0.7;
}

/**************************************
 * 見出し
 **************************************/

h1, h2, h3, h4, h5, h6 {
    /* 上マージン */
    margin-top: 0;
}

/**************************************
 * 段落
 **************************************/

p {
    /* 上マージン */
    margin-top: 0;
    /* 行間 */
    line-height: 1.6;
}

/**************************************
 * 画像
 **************************************/

img {
    /* 縦位置調整 => 画像下にある余白を削除 */
    vertical-align: bottom;
}